@{
    Layout = null;
}



<div ng-controller="changePasswordController" class="col-md-12">
    <section class="content-header padding-top-5">
        <h1>
            Change Password
            <small> Change Password By Own</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Administration</a></li>
            <li class="active">Change Password </li>
        </ol>
    </section>
    <section class="content padding-top-5">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Change Password</h3>
                    </div>
                    <form name="SelfChangePasswordForm">
                        <div class="box-body" style="padding-bottom:0px;">
                            <div class="col-md-4">
                                <div class="form-group">
                                        <label>Old Password</label>
                                        <input type="password" class="form-control input-sm custome-textbox" ng-minlength="6" ng-model="changePassword.OldPassword" required placeholder="Old Password" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                        <label>New Password</label>
                                        <input type="password" class="form-control input-sm custome-textbox" ng-model="changePassword.NewPassword" ng-minlength="6" required placeholder="New Password" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                        <label>Confirm Password</label>
                                        <input type="password" class="form-control input-sm custome-textbox" ng-model="changePassword.ConfirmPassword" ng-minlength="6" required placeholder="Confirm Password" ng-change="passwordCheck()" />
                                </div>
                            </div>
                        </div>
                        <div class="box-footer" style="margin-top:1%">
                            <button type="submit" ng-click="ChangePassword()" class="btn btn-success button-size-small glyphicon"><span class="glyphicon glyphicon-floppy-disk"></span>Save</button>
                            <button value="Clear" ng-click="Reload()" class="btn btn-primary button-size-small"><span class="glyphicon glyphicon-repeat"></span>Clear</button>
                            <a href="/#/" type="button" class="btn btn-warning button-size-small"><span class="glyphicon glyphicon-hand-left"></span>Back</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
   </section>
</div>
