
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}

@*<link rel="stylesheet" href="~/Content/DeveloperCss/navMenu.css"/>

<script type="text/javascript" src="~/Scripts/MyApp.js"></script>*@

@if (Session["logInSession"] != null)
{
    if (Session["logInSession"].ToString() == "true")
    {
        <div>
            <div ng-controller="menuController">
                <script type="text/ng-template" id="treeMenu">
                    <a href="{{menu.Url}}">{{menu.Name}}cxvcxv</a>
                    <ul ng-if="(SiteMenu | filter:{Module:menu.Module}).length>0">
                        <li ng-repeat="menu in SiteMenu | filter:{Module:menu.Module}" ng-include="'treeMenu'">cxvxc</li>
                    </ul>

                    <ul class="main-navigation">
                        <li ng-repeat="menu in SiteMenu | filter:{Module:0}" ng-include="'treeMenu'">vxcv</li>
                    </ul>
                </script>


            </div>
        </div>
    }
}
else
{
    @Html.Partial("_Login")
}




